<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cuisine</th>
          <th scope="col">Menu</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Japanese</td>
          <td>Sushi<br/><img src="assets/images/sushi.jpg"></td>
          <td>$18.95</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>South American</td>
          <td>Tacos <br/><img  src="assets/images/tacos.jpg" alt="Tacos"></td>
          <td>$9.95</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Filipino</td>
          <td>Lumpia <br/><img  src="assets/images/lumpias.jpg" alt="Lumpia"></td>
          <td>$9.95</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td >Italian</td>
            <td>Pizza <br/><img  src="assets/images/pizzaa.jpg" alt="Lumpia"></td>
            <td>$17.28</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Italian</td>
            <td>Spaghetti <br/><img  src="assets/images/spaghetti.jpg" alt="Lumpia"></td>
            <td>$9.95</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Indian</td>
            <td>Tandoori <br/><img  src="assets/images/tandoori.jpg" alt="Tandoori"></td>
            <td>$16.50</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Indian</td>
            <td>Samosa <br/><img  src="assets/images/samosa.jpg" alt="Samosa"></td>
            <td>$7.95</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >American</td>
            <td>Hamburger <br/><img  src="assets/images/hamburger.jpg" alt="Samosa"></td>
            <td>$17.95</td>
          </tr>
      </tbody>
    
  </table>

